<!DOCTYPE html>
<html class="no-js">

  <head>
    <title>Disease Surveillance</title>
    <!-- Bootstrap -->

    <link href="/assets/bootstrap-responsive.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <link rel="stylesheet" href="/assets/login.css" />
    <link rel="stylesheet" href="/assets/magic.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="/assets/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script type="text/javascript">
      function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
      }
      
      function recoverPassword(){
        email= document.getElementById('email').value;
        jQuery.ajax({
          type: "POST",
          url: "/users/recover_password",
          data: "email=" + email,
          success: function(){
            showFeedBack();
          }

        });
      }

      function confirmAction(){
        var form = $( "#forgot" );
        email= document.getElementById('email').value;
        if (isEmail(email)){
          "You are about to reset the password for the user with that email account. You can not undo this action.\
              The new password will be sent via email and you can not undo this operation. Are you really very sure?"
          modal_content = document.getElementById('modal_content');
          modal_content.innerHTML = "You are about to change the password for the user with this email account (<b><i>" + email + "</i></b>) . You can not undo this operation. "
          modal_content.innerHTML += "The new password will be sent via email and you can not undo this operation. Are you really very sure?"
          $('#passwordReminderPopup').modal('show');
        }
      }

      function showFeedBack(){
        $('#feedBackPopup').modal('show');
        window.setTimeout(function(){
         $('#feedBackPopup').modal('hide');
        },3500);
      }
    </script>
    <%= csrf_meta_tags %>
    <style>
      #login{

      }
      .mw_logo{
        position: relative;
        left: 48%;
        padding-top: 15px;
      }

      .form-signin input[type="text"], .form-signin input[type="email"], .form-signin input[type="password"]{
        width:400px;
      }
      .form-signin .btn-primary{
        width:400px;
      }

      .form-signin .btn-success{

      }

      .system_name {
        background-color: #fafafa;
        background-image: linear-gradient(to bottom, #fff, #f2f2f2);
        background-repeat: repeat-x;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        min-height: 50px;
        color: #777;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 0 1px 0 #fff;
      }

      .app_name{
        position: relative;
        font-size: 20px;
        padding-left: 5px;
        top: 11px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
    </style>
  </head>

  <body>
    <% if (flash[:error] || flash[:notice]) %>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">
                <% if flash[:error] %>
                  <span style="font-size:14pt; color:red">Message</span>
                <% else %>
                  <span style="font-size:14pt; color:green">Message</span>
                <% end %>
              </h4>
            </div>
            <div class="modal-body">
              <span style="font-size:14pt;">
                <% if flash[:error]%>
                  <%= flash[:error] %>
                <% else %>
                  <%= flash[:notice] %>
                <% end %>
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        function showPopup(){
          $('#myModal').modal('show');
        }
        window.setTimeout("showPopup();", 300);
      </script>
    <% end %>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="system_name">
            <a class="brand" href="#" style="text-decoration: none; color: #777;" >
              <span class="app_name">NATIONAL DISEASE SURVEILLANCE MANAGEMENT SYSTEM</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="tab-content">
          <img class="mw_logo" src="/assets/mw.gif"/>
          <div id="login" class="tab-pane active">
            <form action="/users/authenticate/" class="form-signin" method="POST">
              <p style="width:400px;" class="text-muted text-center btn-block btn btn-primary btn-rect">
                Enter your username and password
              </p>
              <input style="width:400px;" type="text" name="username" placeholder="Username" class="form-control" />
              <input style="width:400px;" type="password" name="password" placeholder="Password" class="form-control" />
              <button class="btn text-muted text-center btn-danger" type="submit">Sign in</button>
            </form>
          </div>
          <div id="forgot" class="tab-pane">
            <form action="#" class="form-signin">
              <p class="text-muted text-center btn-block btn btn-primary btn-rect">Enter your valid e-mail</p>
              <input id="email" type="email"  required="required" placeholder="Your E-mail"  class="form-control" />
              <br /><br />
              <button onclick="confirmAction();" class="btn text-muted text-center btn-success" type="submit">Recover Password</button>
            </form>
          </div>
          <div id="signup" class="tab-pane">
            <form action="/users/create/" class="form-signin" method="POST">
              <p class="text-muted text-center btn-block btn btn-primary btn-rect">Please Fill Details To Register</p>
              <input type="text" name="first_name" required="required" placeholder="First Name" class="form-control" />
              <input type="text" name="last_name" required="required" placeholder="Last Name" class="form-control" />
              <input type="text" name="username" required="required" placeholder="Username" class="form-control" />
              <input type="email" name="email" required="required" placeholder="Your E-mail" class="form-control" />
              <input type="password" name="password" required="required" placeholder="password" class="form-control" />
              <input type="password" name="password_confirm" required="required" placeholder="Re type password" class="form-control" />
              <%= hidden_field_tag("from_login", 'true') %>
              <button class="btn text-muted text-center btn-success" type="submit">Register</button>
            </form>
          </div>
        </div>

        <div class="text-center">
          <ul class="list-inline" style="padding-left:110px;">
            <li><a class="text-muted" href="#login" data-toggle="tab">Login</a></li>
            <li><a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a></li>
            <li><a class="text-muted" href="#signup" data-toggle="tab">Signup</a></li>
          </ul>
        </div>


      </div>

    </div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner" style="text-align: center;">
        <footer>
          <p style="padding-top: 15px;">&copy; Malawi's Ministry of Health 2015. Funded by Centers For Disease Control(CDC)</p>
        </footer>
      </div>
    </div>

    <!--CONFIRMATION POPUP BEGIN -->
    <div class="modal fade" id="passwordReminderPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;">
              PASSWORD CONFIRMATION RECOVERY
            </h4>
          </div>
          <div class="modal-body">
            <span id="modal_content" style="text-align:center;"></span>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="recoverPassword();" data-dismiss="modal">Okay</button>
              <button type="button" class="btn" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CONFIRMATION POPUP END -->

    <!--CONFIRMATION POPUP BEGIN -->
    <div class="modal fade" id="feedBackPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;">
              PASSWORD SENT VIA EMAIL
            </h4>
          </div>
          <div class="modal-body">
            <span id="modal_content" style="text-align:center;">Please check your mailbox to get your new password!!</span>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" data-dismiss="modal">Okay</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--CONFIRMATION POPUP END -->

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="/assets/jquery-2.0.3.min.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/login.js"></script>
    <!--END PAGE LEVEL SCRIPTS -->
  </body>

</html>