<!DOCTYPE HTML>
<html>
  <head>
    <title>New User</title>
    <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
  </head>
  <body>
    <div class="row-fluid">
      <div class="span3" id="sidebar">
        <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
          <li class="active">
            <a href="/users/new_user"><i class="icon-chevron-right"></i> New User</a>
          </li>
          <li>
            <a href="/users/edit_user"><i class="icon-chevron-right"></i> Edit User</a>
          </li>
          <li>
            <a href="/users/delete_user"><i class="icon-chevron-right"></i> Delete User</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>